@page "/"
@using Blazored.LocalStorage
@using ColorSet.Components
@using ShapeSet.Components

@code {

    private void OnInput(ChangeEventArgs args)
    {
        Console.WriteLine("==> " + args.Value);
    }

    private bool _checked1;
    private bool _checked2 = true;

    private bool Checked
    {
        get { return true; }
        set { Console.WriteLine("++ " + value); }
    }

    private void Crash() => throw new Exception("Page intentionally crashed");
}

<button class="SS_Button--Red" @onclick="@Crash">Crash page</button>

<div>
    <div class="XMark"></div>
    <div class="CheckMark"></div>
    <div class="ExclamationMark"></div>
</div>

<br>
<Checkbox @oninput="@OnInput"></Checkbox>
<br>
<Checkbox @oninput="@OnInput" checked="true"></Checkbox>
<br>
<Checkbox @oninput="@OnInput" disabled="disabled"></Checkbox>
<br>
<Checkbox @oninput="@OnInput" checked="true" disabled="disabled"></Checkbox>
<br>
OnClick:
<Checkbox OnToggle="@(() => _checked1 = !_checked1)" Toggled="@(() => _checked1)"></Checkbox>
<Checkbox OnToggle="@(() => _checked2 = !_checked2)" Toggled="@(() => _checked2)" PreventDefaultOnClick="true"></Checkbox>
<br>

<Checkbox @oninput="@OnInput" checked="true" Size="Checkbox.CheckboxSize.Small"></Checkbox>
<Checkbox @oninput="@OnInput" checked="true" Size="Checkbox.CheckboxSize.Medium"></Checkbox>
<Checkbox @oninput="@OnInput" checked="true" Size="Checkbox.CheckboxSize.Large"></Checkbox>


<br>
<br>

<h3 class="SS_Heading">Buttons</h3>
<button class="SS_Button">SS BUTTON</button>
<button class="SS_Button" disabled="disabled">SS BUTTON</button>
<div class="ThinBreak"></div>
<button class="SS_Button--Green">SS BUTTON</button>
<button class="SS_Button--Green" disabled="disabled">SS BUTTON</button>
<div class="ThinBreak"></div>
<button class="SS_Button--Red">SS BUTTON</button>
<button class="SS_Button--Red" disabled="disabled">SS BUTTON</button>
<div class="ThinBreak"></div>
<button class="SS_Button--Blue">SS BUTTON</button>
<button class="SS_Button--Blue" disabled="disabled">SS BUTTON</button>
<div class="ThinBreak"></div>
<button class="SS_Button--Inverted">SS BUTTON</button>
<button class="SS_Button--Inverted" disabled="disabled">SS BUTTON</button>

<br>
<br>

<h3 class="SS_Heading">Inputs</h3>
<table>
    <tr>
        <td>
            <input class="SS_Input" type="text" value="SS Input" name="input1_1"/>
        </td>
        <td>
            <input class="SS_Input" type="text" placeholder="SS Input" name="input1_2"/>
        </td>
        <td>
            @_validator.RenderFieldResults("input1_2")
        </td>
    </tr>
    <tr>
        <td>
            <input class="SS_Input" type="date" name="input2_1"/>
        </td>
        <td>
            <input class="SS_Input" type="datetime-local" name="input2_2"/>
        </td>
        <td>
            @_validator.RenderFieldResults("input2_2")
        </td>
    </tr>
    <tr>
        <td>
            <textarea class="SS_TextArea" name="input3_1">SS TextArea</textarea>
        </td>
        <td>
            <textarea class="SS_TextArea" name="input3_2" placeholder="SS TextArea"></textarea>
        </td>
        <td>
            @_validator.RenderFieldResults("input3_2")
        </td>
    </tr>
    <tr>
        <td>
            <select class="SS_Select">
                <option value="1">1</option>
                <option value="222">222</option>
                <option value="333333333333333">333333333333333</option>
                <option value="aaa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
            </select>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>


<h3 class="SS_Heading">Thin</h3>
<input class="SS_Input SS_Input--WidthThin" type="text" value="SS Input"/>
<br>
<input class="SS_Input SS_Input--WidthThin" type="date"/>
<br>
<textarea class="SS_TextArea SS_Input--WidthThin">SS TextArea</textarea>
<br>
<select class="SS_Select SS_Input--WidthThin">
    <option value="1">1</option>
    <option value="222">222</option>
    <option value="333333333333333">333333333333333</option>
    <option value="aaa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
</select>
<br>

<br>
<br>

<h3 class="SS_Heading">Medium</h3>
<input class="SS_Input SS_Input--WidthMedium" type="text" value="SS Input"/>
<br>
<input class="SS_Input SS_Input--WidthMedium" type="date"/>
<br>
<textarea class="SS_TextArea SS_Input--WidthMedium">SS TextArea</textarea>
<br>
<select class="SS_Select SS_Input--WidthMedium">
    <option value="1">1</option>
    <option value="222">222</option>
    <option value="333333333333333">333333333333333</option>
    <option value="aaa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
</select>
<br>

<br>
<br>

<h3 class="SS_Heading">Wide</h3>
<input class="SS_Input SS_Input--WidthWide" type="text" value="SS Input"/>
<br>
<input class="SS_Input SS_Input--WidthWide" type="date"/>
<br>
<textarea class="SS_TextArea SS_Input--WidthWide">SS TextArea</textarea>
<br>
<select class="SS_Select SS_Input--WidthWide">
    <option value="1">1</option>
    <option value="222">222</option>
    <option value="333333333333333">333333333333333</option>
    <option value="aaa">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</option>
</select>
<br>

<br>
<br>


<h3 class="SS_Heading">TextAreas</h3>
<textarea class="SS_TextArea SS_TextArea--HeightThin">HeightThin</textarea>
<br>
<textarea class="SS_TextArea SS_TextArea--HeightMedium">HeightMedium</textarea>
<br>
<textarea class="SS_TextArea SS_TextArea--HeightTall">HeightTall</textarea>
<br>

<br>
<br>